#root {
  display: flex;
  flex-direction: column;
  background: red;
  height: 100vh;
  width: 100%;
}

.header {
  height: 20%;
  background: lightblue;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-image: url("C:\Users\aaamo\Documents\Utvikling2425\anders_skoleoppagaver24-25\digitalclock\src\imageforuse.png");
  background-position: center;
  background-clip: border-box;
  background-size: contain;
}

.footer {
  height: 20%;
  background: lightblue;
}