.header {
  background-color: #1d4ed8;
  color: white;
  padding: 20px;
  text-align: center;
  border-style:solid ;
  border-color: #000000;
  border-width: 4px;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #1d4ed8;
}


.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  justify-content: center;
}


.leftside, .rightside {
  width: 45%;
}

.rightside {
  justify-content: center;
  margin-right:90px ;
}

.sitteplasser {
  display: flex;
  justify-content: center;
}

button {
  width: 20vh;
  height: 10vh;
  margin-bottom: 20px;
  
}

button:hover {
  color: #1d4ed8;
}

.student-selection-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 200px;
}

.student-selection-modal ul {
  list-style-type: none;
  padding: 0;
}

.student-selection-modal li {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.student-selection-modal li:hover {
  background-color: #f0f0f0;
}

.student-selection-modal button {
  margin-top: 10px;
}
