  

  .sitteplasser {
    display: flex;
  }
  
  
  .elev {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 2em;
    margin-top: 2em;
    border: solid white 2px;
    font-size: 2em;
  }


  
  .container {
    display: flex;
    height: 100vh;
    width: 100%;
  }

  button {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(244, 190, 53);
    
  }

  
  .leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(128, 234, 128);
  }
  
  .rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(128, 128, 245);
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  
  }
  
  .profile-box {
    border: solid black 2px;
    background: coral;
    height: 50%;
  }